body {
  margin: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  background-color: #141526;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

canvas {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.percent {
  position: absolute;
  font-size: 2rem;
  color: #fff;
}

p {
  color: #acadc9;
}
